<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Login</title>
</head>

<body>

    <div class="container">
        <div class="box">
            <form action="{{url_for('main')}}" method="POST" class="login">
                <div class="linha">
                    <label>Login</label>
                </div>
                <input type="text" name="login" placeholder="Digite seu e-mail">
                <div class="linha">
                    <label name="senha">Senha</label>
                </div>

                <input type="password" name="senha" placeholder="Digite sua senha">
                <button type="submit" class="botao">Enviar</button>
                <label name="acess"></label>
            </form>
        </div>
    </div>
</body>

</html>