<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>

    <title>Document</title>
</head>
<body id="main">
  <header>
    <section>

      <table id="tabela">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Nacionalidade</th>
            <th>Naturalidade</th>
          </tr>
        </thead>
        <tbody>
          {%for dado in dados%}
         
          <tr>
            <td id="id">
           
              {{dado['id']}}
            </td>
            <td id="nome">
              
              {{dado['nome']}}
            </td>
            <td id="idade">
              
              {{dado['idade']}}
            </td>
            <td id="nacional">
              
              {{dado['nacionalidade']}}
            </td>
            <td id="natural">
              
              {{dado['naturalidade']}}
            </td>
           
          </tr>
         
      
          {%endfor %}
        </tbody>
        
          
            
          
        </table>
        <br>
    </section>

  </header>
</body>
</html>