<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>

    <title>Document</title>
</head>
<body id="main">
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nome</th>
      <th>idade</th>
      <th>nacionalidade</th>
      <th>naturalidade</th>
    </tr>
  </thead>
  <tbody>
    {%for dicionario in dados%}
   
    <tr>
      <td id="id">
     
        {{dicionario[0]}}
      </td>
      <td id="nome">
        
        {{dicionario[1]}}
      </td>
      <td id="idade">
        
        {{dicionario[2]}}
      </td>
      <td id="nacional">
        
        {{dicionario[3]}}
      </td>
      <td id="natural">
        
        {{dicionario[4]}}
      </td>
     
    </tr>
   

    {%endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">

        <button type="button" onclick="callback()">Request</button></tr>
      </td>

    </tr>
  </tfoot>
    
      
    
  </table>
  <br>
</body>
</html>